*{
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding: 0;
    margin: 0;
}
body {
    background-color: #F0F0F0;
}
.container-1 {
    display: flex;
    min-height: 100vh;
}
.sidebar {
    border-radius: 0 15px 15px 0;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    background-color: #1A9D83;
    width: 200px;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}
.main-content {
    flex-grow: 1;
}

/* SIDEBAR HEADER */
.sidebar .description-header {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: #FFFFFF;
}
.sidebar .description {
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}
.sidebar img {
    width: 97px;
    height: 97px;
    left: 44px;
    top: 10px;
    filter: brightness(0) invert(1);
}
.sidebar .header {
    text-align: center;
}
.sidebar a {
    text-decoration: none;
}

/* SIDEBAR MENU */
.sidebar .menu {
    color: #ffffff;
    margin-top: 66px;
}
.sidebar ul {
    margin: 0;
    padding: 0;
}
.sidebar ul li {
    position: relative;
    height: 40px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
}
.sidebar ul li .a-li:hover {
    display: flex;
    background-color: #1A9D83;
    /* padding-left: 35px; */
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    color: #ffffff;
    line-height: 35px;
    transition: all ease-in .10s;
}
.sidebar ul li .a-li {
    display: flex;
    /* padding-left: 30px; */
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
    line-height: 35px;
}
.sidebar ul li .a-li-1 {
    display: flex;
    margin-left: 30px;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    color: #FFFFFF;
    line-height: 35px;
}
.sidebar ul li .a-li-1:hover {
    display: flex;
    margin-left: 30px;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
    line-height: 35px;
}
.sidebar ul li a {
    display: flex;
    /* padding-left: 30px; */
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
    line-height: 35px;
}
.sidebar ul li i{
    margin-right: 12px;
}

/* MAIN-CONTENT */
.main-content .navbar {
    display: flex;
    height: 50px;
    /* background-color: grey; */
    align-items: center;
    justify-content: end;
}
.main-content .navbar i {
    display: flex;
    font-size: 40px;
    margin-right: 20px;
}
