{% extends "base3.html" %}
{% block content %}

<div class="row mt-3">
    <h4>Beranda</h4>
    <!-- {{user.jurusan.jurusan}} -->
    <hr>
</div>
<br>
<h6>Agenda</h6>
{% if result %}
<div class="card">
    {% for results in result %}
    <ul class="list-group list-group-flush">
        <li class="list-group-item text-capitalize">{{results}} - {{results.waktu_awal}} <a href="{% url 'info_kandidat' results.id %}" class="text-dark">lihat</a></li>
    </ul>
    {% endfor %}
{% else %}
Belum ada agenda untuk tahun ini...
<!-- <a href="{% url 'agenda' %}">klik</a> -->
{% endif %}
</div>
{% endblock %}