{% extends "base3.html" %} {% block content %}

<div class="row mt-3">
    <h4>Beranda</h4>
</div>
<div class="row">
    <form class='d-flex' method=POST action="{% url 'cari' %}">
        {% csrf_token %}
        <input style="width: 25em;" name="cari" type="search" placeholder="cari agenda voting">
        <button class="btn btn-secondary" type="submit">Cari</button>
    </form>

    {% if cari %}
    <h1>yang kau cari ini bukan? {{ cari }}</h1>
    {% else %}
    <h1>ketikkan yang kau cari!!!</h1>
    {% endif %}
</div>

{% endblock %}