{% extends "base3.html" %} {% block content %}
<div class="row">
    <div class="col-7">
        <h5>Kandidat</h5>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="nama" class="form-label">Nama</label>
                <input type="text" class="form-control" id="nama" name="nama" aria-describedby="emailHelp">
            </div>
            <label for="jenis_kelamin">Jenis Kelamin</label>
            <div class="mb-3" id="jenis_kelamin">
                {{form.jk}}
                <!-- <div class="row">
          <div class="col-3 form-check">
            <input class="form-check-input" type="radio" name="jk" value="Laki-Laki" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Laki-Laki
            </label>
          </div>
          <div class="col-6 form-check">
            <input class="form-check-input" type="radio" name="jk" value="Perempuan" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              Perempuan
            </label>
          </div>
        </div> -->
            </div>
            <div class="mb-3">
                {{form.jurusan.label}} {{form.jurusan}}
            </div>
            <div class="mb-3">
                <label for="nim" class="form-label">NIM</label>
                <input type="number" class="form-control" id="nim" name="nim">
            </div>
            <div class="row">
                <div class="mb-3 col-5">
                    <label for="text" class="form-label">Tempat Lahir</label>
                    <input type="text" class="form-control" id="text" name="tpt_lahir">
                </div>
                <div class="mb-3 col-7">
                    <label for="date" class="form-label">Tanggal Lahir</label>
                    <input type="date" class="form-control" id="date" name="tgl_lahir">
                </div>
            </div>
            <div class="mb-3">
                <label for="text" class="form-label">Nomor WA</label>
                <input type="number" class="form-control" id="text" name="no_wa">
            </div>
            <div class="mb-3">
                <label for="text" class="form-label">Email</label>
                <input type="email" class="form-control" id="text" name="email">
            </div>
            <div class="mb-3">
                {{form.agenda.label}} {{form.agenda}}
            </div>
            <div class="row mt-3">
                <div class="form-floating mb-3 col-6">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="visi"></textarea>
                    <label for="floatingTextarea">Visi</label>
                </div>
                <div class="form-floating mb-3 col-6">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="misi"></textarea>
                    <label for="floatingTextarea">Misi</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary float-end">Simpan</button>
        </form>
    </div>
</div>

{% endblock %}