{% extends "base3.html" %} {% block content %}
<div class="row">
    <div class="col-7">
        <h5>Tambah Agenda</h5>
        <form action="" method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label for="judul" class="form-label">Judul Agenda</label>
                <input type="text" class="form-control" id="judul" name="judul" aria-describedby="emailHelp" placeholder='Masukkan Judul'>
            </div>
            <div class="mb-3">
                <label for="waktu_awal" class="form-label">Waktu Mulai</label>
                <input type="datetime-local" class="form-control" id="waktu_awal" name="waktu_awal" required pattern="\d{4}-\d{2}-\d{2}">
            </div>
            <div class="mb-3">
                <label for="waktu_akhir" class="form-label">Waktu Selesai</label>
                <input type="datetime-local" class="form-control" id="waktu_akhir" name="waktu_akhir">
            </div>
            <!-- <div class="mb-3">
        <label for="durasi" class="form-label">Durasi</label>
        <input type="time" class="form-control" id="durasi" name="durasi">
      </div> -->
            <label for="status">Status</label>
            <div class="mb-3" id='status'>
                {{form.status}}
            </div>
            <button type="submit" class="btn btn-primary float-end">Simpan</button>
        </form>
    </div>
</div>

{% endblock %}