{% extends "base2.html" %}
{% block title %}Vote{% endblock %}
{% block content %}

<!-- {% if messages %}
{% for message in messages %}
  <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
{% endfor %}
{% endif %} -->
<h2>Vote</h2><br>
<hr>
{{polls}}
{% if data %}
    {% for d in data %}
        <div class="container">
            <div class="card mb-3" style="border-color: #1A9D83;">
                <div class="card-body p-2" id="card">
                    <div class="row">
                        <div class="col-10">
                            <h6 class="align-middle text-capitalize">{{d.judul}}</h6>
                        </div>
                        <div class="col-2">
                            <center>
                                {% if po %}
                                <span class="badge bg-success">Voted</span>
                                {% else%}
                                <a id="cardBtn" disabled="disabled" href="{% url 'select-agenda' d.id %}"><button type="button" style="margin-left: 20px;" class="btn float-end p-0"><i class='bx bxs-hand-up' style="margin:3px; font-size: 20px;"></i></button></a>
                                <a href="#"><button type="button" class="btn float-end p-0"><i class='bx bxs-info-circle' style="margin:3px; font-size: 20px;"></i></button></a>
                                {% endif %}
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    {% endfor %}
{% else %}
Belum ada agenda untuk tahun ini...
{% endif %}
{% endblock %}


