{% extends "base4.html" %}
{% block content %}

{% for d in data %}

<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <h6>{{d.judul}}</h6>
                </div>
                <div class="col-4">
                    <h6>{{d.status}}</h6>
                </div>
                <div class="col-4">
                    <a href="{{d.id}}/data"><button type="button" class="btn btn-primary">Mulai Vote</button></a> 
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endfor %} 
{% endblock %}