{% extends "base2.html" %}
{% block title %}Vote{% endblock %}
{% block content %}
<a href="{% url 'index' %}"><h5><i class='bx bx-left-arrow-alt'>Kembali</i></h5></a>
<h3>Vote</h3>
<hr><br>

<!-- <form action="" method="POST"> -->
    {% csrf_token %}
    <div class="card p-4">
        <h5 class="text-capitalize text-center">{{agenda}}</h5><br>
        
        <div class="row">
        {% if kandidat %}
        {% for k in kandidat %}
            <div class="col-sm-4">
                <div class="card" style="width: 18rem; margin-bottom: 20px;">
                    {% if k.image %}
                    <img src="{{k.image.url}}" class="card-img-top text-center" alt="connect" style="filter: brightness(1) invert(0); height:auto; width:auto; margin: 20px;">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title text-capitalize text-center">{{k.nama}}</h5>
                        <p class="card-text text-center">{{k.nim}}</p>
                        <center><a href="#" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#poll_{{k.id}}">Pilih</a></center>
                    </div>
                </div>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="poll_{{k.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Persetujuan</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Apa Anda Yakin ?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger">Tidak</button>
                            <!-- <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Ya</button> -->
                            <a id="btn" onclick="disable()" href="{% url 'buat_vote' id k.id %}"><button type="submit" class="btn btn-success" data-bs-dismiss="modal">Ya</button></a>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
        {% else %}
        <h6 class="text-center">~ Belum ada kandidat ~</h6>
        {% endif %}
        </div>
    
    </div>
    
<!-- </form> -->
{% endblock %}